{% extends "layout" %}

{% block content %}
<h2>{{ subject.name }}</h2>
<p>{{ subject.type.name }}</p>
<h3>Félév</h3>
<pre>
{{ subject.semester }}
</pre>
<h3>Kredit</h3>
<pre>
{{ subject.credit }}
</pre>

{% if (subject.user_id == currentUser.id or currentUser.id == 1) %}
{{ csrfField | safe }}
<a href="/subjects/{{ subject.id }}/edit" class="btn btn-default">Szerkeszt</a>
<a id="btnDelete" href="/subjects/{{ subject.id }}/delete" class="btn btn-danger">Töröl</a>
<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% block scripts %}
<script src="/scripts/delete.js"></script>
{% endblock %}

{% endblock %}