{% extends "layout" %}

{% block content %}
<h2>{{ user.username }}</h2>
<p>{{ user.type.username }}</p>
<h3>E-mail cím</h3>
<pre>
{{ user.email }}
</pre>
<h3>Regisztráció dátuma</h3>
<pre>
{{ user.created_at }}
</pre>

{% if (currentUser.id == 1) %}
{{ csrfField | safe }}
<a href="/users/{{ user.id }}/edit" class="btn btn-default">Szerkeszt</a>
<a id="btnDelete" href="/users/{{ user.id }}/delete" class="btn btn-danger">Töröl</a>
<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{% block scripts %}
<script src="/scripts/delete.js"></script>
{% endblock %}

{% endblock %}